body{background: #fff5e0; color: #000}

.container{
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	background: #ffe;
}

header{
	height: 100px;
	background: #374;
	font-size: 1.5em;
	text-align: center;
	line-height: 100px;
	padding: 0 4% 0 4%;
	color: #fff;
	box-shadow: inset 0 13px 25px #253;
}


nav{
	height: 40px;
	line-height: 40px;	
	background: #142;
	box-shadow: inset 0 25px 35px #364;
	border-top: solid 2px #253;
	border-bottom: solid 1px #192949;
}

nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

nav li{
	box-shadow: inset 0 25px 35px #364;
	float: left;
	/*border-right: solid 2px #123;*/
}

nav li:hover{
	box-shadow: inset 0 25px 35px #475;
}

nav a{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	text-align: center;
	padding: 0 25px;

}

.content{
	padding: 4%;
	font-family: Arial;
	font-size: 87%;
}


.quote-entry {
	width: 400px;
	height:100px;
	max-width: 880px;
}

h3 {
	margin-left: 20px;
	font-style: italic;
}

.rated {
	margin-bottom: 40px;
}

.lightbox{
	width: 100%;
	height: 100%;
	background: papayawhip;
	position: fixed;
	top: 0;
	left: 0;
}

.hidden {
	display: none;
}

button {
	background: #364;
	color: white;
	border: none;
	padding: 5px;
	border-radius: 4px;
	margin-top: 10px;
	box-shadow: 2px 2px 5px 1px #999
}
button:hover{
	box-shadow: inset 0 25px 35px #475,2px 2px 5px 1px #999;

}

#author-entry{
	margin-right: 10px;
}

.quotebox{
	width: 500px;
	height: 200px;
	background: papayawhip;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	padding: 40px;
	border-radius: 15px;
	box-shadow: inset 0 0 22px #a97, 30px 30px 25px -5px #999
}

#close {
	float: right;
}

.delete {
	float: right;
}
